* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	font-family: 'Inter', 'Barlow', 'Bellefair', sans-serif;
	background-image: url('../src/images/background-destination-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

h1,
h2,
h3 {
	line-height: 1.1;
}

img {
	max-width: 100%;
	display: block;
}

.section--header {
	text-align: center;
	color: white;
	font-size: 40px;
	font-family: 'Barlow';
	letter-spacing: 0.9px;
	margin: 0.5em 0;
	text-transform: uppercase;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 30px;
	color: aliceblue;
	background-color: black;
}

.header--text {
	font-size: 14px;
	font-weight: 400;
	font-family: 'Inter';
	letter-spacing: 1.4px;
}

.wrapper {
	margin: 2em;
}

.card--img {
	width: 50%;
	margin-inline: auto;
}

.wrapper--description {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
}

.wrapper--description h2 {
	font-family: 'Bellefair';
	margin-top: 0.5em;
	font-size: 56px;
	font-weight: 400;
	line-height: 64.18px;
	letter-spacing: 1px;
	color: white;
	text-transform: uppercase;
}

.wrapper-paragraph {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	color: #d0d6f9;
	padding-bottom: 2em;
	border-bottom: 1px solid #383b4b;
}

.time-estimate {
	margin-top: 2em;
	text-align: center;
	color: white;
}

.mini-estimate p:nth-child(1) {
	font-family: 'Barlow Condensed';
	font-size: 10px;
	font-weight: 100;
	line-height: 17px;
	letter-spacing: 2.362499952316284px;
	text-align: center;
	padding-bottom: 12px;
}
.mini-estimate {
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 1.5em;
}

.crew--container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.crew-desc--wrapper {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
}

.crew-img {
	width: 85%;
	margin-inline: auto;
}
.crew-tag {
	margin-top: 20px;
	font-family: 'Bellefair';
	font-weight: 400;
	font-size: 1rem;
	line-height: 18.34px;
	text-align: center;
	text-transform: uppercase;
	color: #c2c0c0ab;
}

.crew-name {
	font-family: 'Bellefair';
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: center;
	text-transform: uppercase;
}

.crew-description {
	font-family: 'Barlow';
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0px;
	text-align: center;
	color: #d0d6f9;
}

@media (min-width: 565px) {
	body {
		background-image: url('../src/images/background-destination-tablet.jpg');
	}
	.wrapper--description h2 {
		font-size: 80px;
	}
	.time-estimate {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 3em;
	}

	.crew--container {
		flex-direction: column-reverse;
	}

	.crew-img {
		width: 100%;
		margin-top: 15px;
	}
	.crew-tag {
		font-size: 24px;
	}
	.crew-name {
		font-size: 40px;
	}
}

@media (min-width: 765px) {
	body {
		background-image: url('../src/images/background-destination-desktop.jpg');
		background-repeat: no-repeat;
	}

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.5em;
	}

	.card--img {
		width: 60%;
	}

	.wrapper--img {
		width: 50%;
	}

	.wrapper--description {
		width: 40%;
	}

	.time-estimate {
		margin-right: auto;
		gap: 1em;
	}

	.crew--container {
		flex-direction: row-reverse;
	}

	.crew-desc--wrapper {
		width: 60%;
		align-items: flex-start;
		gap: 1.5em;
	}

	.crew-description {
		text-align: left;
	}
}
