* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	min-height: 100vh;
}

h1,
h2,
h3 {
	line-height: 1.1;
}

p {
	line-height: 1.6;
}

img {
	max-width: 100%;
	display: block;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 30px;
	color: aliceblue;
	background-color: black;
}

.header--text {
	font-size: 14px;
	font-weight: 400;
	font-family: 'Inter';
	letter-spacing: 1.4px;
}
