* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	font-family: 'Inter', 'Barlow', 'Bellefair', sans-serif;
	/* min-height: 100vh; */
	background-image: url('../src/images/background-destination-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* background-repeat: no-repeat; */
}

h1,
h2,
h3 {
	line-height: 1.1;
}

p {
	line-height: 1.6;
}

img {
	max-width: 100%;
	display: block;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 30px;
	color: aliceblue;
	background-color: black;
}

.header--text {
	font-size: 14px;
	font-weight: 400;
	font-family: 'Inter';
	letter-spacing: 1.4px;
}

.wrapper {
	margin: 2em;
}

.card--img {
	width: 50%;
	margin-inline: auto;
}

.wrapper--description {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
}

.wrapper--description h2 {
	font-family: 'Bellefair';
	margin-top: 0.5em;
	font-size: 56px;
	font-weight: 400;
	line-height: 64.18px;
	letter-spacing: 1px;
	color: white;
}

.wrapper--description p {
	font-family: 'Barlow';
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.9px;
	color: white;
}

@media (min-width: 565px) {
	body {
		background-image: url('../src/images/background-destination-tablet.jpg');
	}
}

@media (min-width: 765px) {
	body {
		background-image: url('../src/images/background-destination-desktop.jpg');
		background-repeat: no-repeat;
	}
}
